.hero {
  background-color: rgba(17, 17, 17, 0.4);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.hero-link {
  font-weight: 500;
  color: var(--surface-main);
}
.hero-link:hover,
.hero-linkfocus {
  color: var(--action-primary);
}
.hero-images {
}
